[Unit]
Description=MULTICS
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/multics.x64 -f -C /var/etc/multics.cfg
TimeoutSec=0

[Install]
WantedBy=multi-user.target
